:root {
    --links-hover-color: #2196f3;
    --primery-text-color: #757575;
    --second-title-color: 
    --header-color: 
    --primay-text-color: 
    
    --third-text-color: 

    --secondary-title-color: 
    --accent-color:
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* logo
   ========================================================================== */

.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo span {
    color: #000000;
}

/* navigation
   ========================================================================== */

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--links-hover-color);
}

/* header contacts
   ========================================================================== */

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--links-hover-color);
}

/* order service
   ========================================================================== */

.order-service-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: black;
}

.order-service-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
}

/* features
   ========================================================================== */

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

/* about us
   ========================================================================== */

.about-us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* our team
   ========================================================================== */

.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.our-team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

/* footer
   ========================================================================== */

.footer-address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: black;
}

.footer-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: black;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--links-hover-color);
}